*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 70%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.nav-column{
    background-color: #DAA520;
    height: 2.5rem;
}

nav{
    background-color: #ADD8E6;
    height: 4rem;
}

ul{
    list-style-type: none;
}