*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    background-color: #ADD8E6;
}

header>section{
    background-color: #00008B;
    height: 400px;
    margin: auto;
    padding-top: 3rem;
}

.wrapper,p,ul{
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    padding-top: 0.7rem;
}

.flex{
    display: flex;
}

.dashed{
    border: 3px black dashed;
}

.nav-column{
    background-color: #DAA520;
    height: 2.5rem;
}

.jumbo{
    width: 50%;
    height: 300px;
    background-color: #EE82EE;
    margin: auto;
}

nav{
    height: 4rem;
}

.big-wrapper{
    background-color: white;
    height: 500px;
}


ul{
    list-style-type: none;
}

li{
    padding-left: 1rem;
}

.wrapper>.nav-column{
    width: 15%
}


#list-column{
    width: 50%;
}

#variant{
    background-color: #d3d3d3;
}

