*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    background-color: #ADD8E6;
}

header>section{
    background-color: #00008B;
    height: 400px;
    margin: auto;
}

.wrapper,p,ul{
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    padding-top: 0.7rem;
}

.flex{
    display: flex;
}

.dashed{
    border: 3px black dashed;
}

.nav-column{
    background-color: #DAA520;
    height: 2.5rem;
}

.jumbo{
    width: 60%;
    height: 80%;
    background-color: #EE82EE;
}

nav{
    height: 4rem;
}

ul{
    list-style-type: none;
}
li{
    padding-left: 1rem;
}

.wrapper>.nav-column{
    width: 15%
}


#list-column{
    width: 50%;
}

